<IfModule mod_rewrite.c>
    RewriteEngine On

    # Evita que se reescriba si ya es archivo/carpeta real
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^ index.php [L]
</IfModule>
